<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Community Marketplace{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_black.png') }}" type="image/png">
</head>
<body>

    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='images/logo_white.png') }}" alt="Community Marketplace Logo" class="header-logo">
            Community Marketplace - Buy, Sell, Trade
        </div>
        <div class="header-right">
            {% if session.get('logged_in') %}
                <button onclick="window.location.href='{{ url_for('settings.settings_page') }}'">
                    <img src="{{ url_for('static', filename='images/profile_settings.png') }}" alt="Profile Settings Img" class="header-logo">
                </button>
            {% endif %}
            <button class="menu-btn" onclick="openMenu()">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </div>
    </header>

    <div id="sideMenu" class="side-menu">
        <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
        <a href="{{ url_for('home') }}">Home</a>
        {% if session.get('logged_in') %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
        <a href="{{ url_for('listings.my_listings') }}">My Listings</a>
        <a href="{{ url_for('listings.create_listing_page') }}">Create Listing</a>
        <a href="{{ url_for('address.address_page') }}">Schedule a Meeting</a>
        <a href="{{ url_for('my_meetings.my_meetings_page') }}">My Meetings</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages container">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script>
        function openMenu() {
            document.getElementById("sideMenu").style.width = "250px";
        }
        function closeMenu() {
            document.getElementById("sideMenu").style.width = "0";
        }

        setTimeout(() => {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                alert.style.transition = "opacity 0.5s ease";
                alert.style.opacity = 0;
                setTimeout(() => alert.remove(), 500);
            });
        }, 4000);
    </script>
</body>
</html>
