<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schedule a Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-image: url('/static/images/building.jpg');background-size: cover; background-position: center; 
background-repeat: no-repeat; height: 100vh; backdrop-filter: blur(5px);">
    <header>
        Set Meeting And Time: 
    </header>

    <div class="container" style="height: 525px; padding-top: 200px; background-color: rgba(255, 255, 255, 0.85);">
        <form method="POST">
            <h2><b>Does the following information look correct?</b></h2>
            <br><br>
            <p>Location: {{ address }}</p>
            <p>Date: {{ date }}</p>
            <p>Time: {{ time }}</p> 
            <br><br>
            <input type="submit" id="confirm" name="confirm" value="Confirm">
            <input type="submit" id="edit" name="edit" value="Edit">
        </form>
    </div>

</body>
</html>