<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schedule a Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-image: url('/static/images/building.jpg');background-size: cover; background-position: center; 
background-repeat: no-repeat; height: 100vh; backdrop-filter: blur(5px);">

    {% include "header_with_menu.html" %}

    <div class="container" style="height: 525px; padding-top: 200px; background-color: rgba(255, 255, 255, 0.85);">
        <form method="POST">
            <h2>Location: {{ address }}</h2>
            <button type="submit" id="edit" name="edit" value="Edit">Change Address</button>
            <br><br>

            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date" value="{{ date or ''}}" style="width: 200px; font-size: 14px; padding: 5px">
            <br><br>

            <label for="time">Select Time:</label>
            <input type="time" id="time" name="time" value="{{ time or ''}}" style="width: 200px; font-size: 14px; padding: 5px">
            <br><br>

            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>
